@import "../../../assets/styles/variables";

.Sellers {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow-x: auto;
    background-color: $sub-backgorund-color-2;


    .titile {
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .sellers-list {
        width: 100%;
        min-width: 945px;
        height: calc(100vh - 80px);
        overflow-y: auto;
        padding-inline: 100px;
        padding-bottom: 10px;
        padding-top: 20px;

        @include xl {
            padding-inline: 11px;
        }

        .infinite-scroll {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .loading {
                width: 100%;
                height: 70px;
                display: grid;
                justify-content: center;
                align-items: center;

                .loading-circle {
                    width: 40px;
                    height: 40px;
                    border: 4px solid $primary-color;
                    border-radius: 50%;
                    animation-duration: 1s;
                    animation-name: loading-anim;
                    animation-iteration-count: infinite;

                    &::after {
                        content: "";
                        width: 15px;
                        height: 20px;
                        position: absolute;
                        background-color: $sub-backgorund-color-2;
                        transform: rotate(35deg);
                        top: -5px;
                        left: 15px;

                    }
                }

                @keyframes loading-anim {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            .correct-margine {
                width: 230px;
                height: 275px;
                max-height: 1px;
                margin-right: 25px;
                overflow: hidden;
                border: 1px solid $line-color-1;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                background-color: white;
                position: relative;
                opacity: 0;
            }
        }
    }
}