@import "../../../assets/styles/variables";

.EditService {
    width: 100%;
    height: 100%;
    padding-inline: 100px;
    overflow-y: auto;
    padding-top: 20px;
    background-color: $sub-backgorund-color-2;

    .es-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .option-path {
        width: 65%;
        height: 50px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        background-color: white;
        font-size: 20px;
        font-weight: 500;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 2px dashed $line-color-1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        //border: 1px solid $border-color-3;
    }

    .edit-service-container {
        width: 65%;
        display: flex;
        height: fit-content;
        background-color: white;
        margin-bottom: 20px;
        padding: 10px;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        //border: 1px solid $border-color-3;
        label {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 16px;
        }

        .edit-service-view {
            width: 50%;
            height: fit-content;
            margin-left: 25px;
            margin-right: 5px;
            border-radius: 10px;
            background-color: white;

            img {
                width: 100%;
                aspect-ratio: 1/0.6;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .title {
                font-size: 25px;
                font-weight: 500;
            }

            .desc {
                font-size: 16px;
                text-align: justify;
            }
        }

        .form {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 10px;
            padding-left: 20px;
            border-radius: 10px;

            .category-select {
                width: 100%;
                height: 40px;
                margin-bottom: 35px;
                border: 2px solid $border-color-2;
                border-radius: 5px;
                font-size: 17px;
            }

            input[type=text],input[type=number] {
                width: 100%;
                height: 40px;
                border: 2px solid $border-color-2;
                border-radius: 5px;
                font-size: 20px;

            }

            textarea {
                width: 100%;
                height: 250px;
                border: 2px solid $border-color-2;
                border-radius: 5px;
                resize: none;
                font-size: 16px;
            }

            input,
            textarea {
                padding: 5px;
            }

            input:focus,
            textarea:focus {
                border: none;
                outline: 2px solid $border-color;
            }

            .upload-np-btn {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .service-img {
                width: 100%;
                aspect-ratio: 1/0.4;
                margin-top: 10px;
                border: 2px dashed $border-color-2;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    margin-block: 10px;
                    height: 120px;
                    aspect-ratio: 1/0.6;
                    object-fit: cover;
                }

                i {
                    font-size: 40px;
                    margin-bottom: 5px;
                    color: $text-color-2;
                }

                p {
                    text-align: center;
                    font-size: 23px;
                    display: flex;
                    flex-direction: column;
                    font-weight: 500;
                    color: black;
                    cursor: pointer;

                    span {
                        color: $text-color-2;
                        font-size: 15px;
                        font-weight: normal;
                    }
                }
            }

            .button {
                width: 40%;
                height: 40px;
                display: grid;
                place-content: center;
                color: white;
                font-size: 18px;
                border-radius: 10px;
            }

            button {
                width: 100%;
                height: 100%;
                border: 0;
                display: grid;
                place-content: center;
                color: white;
                font-size: 18px;
                border-radius: 10px;
            }

            .buttons {
                display: flex;
                padding: 10px;
                height: 60px;
                width: 100%;
                justify-content: space-between;



                .riple-btn {
                    width: 40%;
                    height: 40px;
                    margin-left: auto;



                }

                .update-service {
                    width: 100%;
                    background-color: $primary-color;
                }
            }

            .delete-service-dev {
                width: 100%;
                margin-top: 30px;
                height: fit-content;
                border-radius: 5px;
                border: 1px solid rgba(255, 0, 0, 0.449);
                padding: 10px;
                display: flex;
                flex-direction: column;

                p {
                    color: $text-color-2;
                }

                .delete-service {
                    background-color: rgb(197, 2, 2);
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    margin-left: auto;

                    i {
                        margin-right: 10px;
                    }
                }
            }

        }
    }

    .column {
        width: 47%;
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        justify-content: space-between;

        input {
            width: 47%;
        }
    }
    .error-message{
        width: 100%;
        padding-left: 10px;
        color: $text-color-4;
        margin-bottom: 35px;
    }
}