@import "../../../assets/styles/variables";

.Services {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-color: $sub-backgorund-color-2;
    overflow-x: auto;

    .titile {
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .services-list {
        width: 100%;
        min-width: 910px;
        height: calc(100vh - 80px);
        overflow-y: auto;
        padding-inline: 100px;
        padding-bottom: 100px;
        padding-top: 20px;
        
        @include xl{
            padding-inline: 0px;
        }

        .infinite-scroll {
            width: fit-content;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .loading {
                width: 100%;
                height: 70px;
                display: grid;
                justify-content: center;
                align-items: center;

                .loading-circle {
                    width: 40px;
                    height: 40px;
                    border: 4px solid $primary-color;
                    border-radius: 50%;
                    animation-duration: 1s;
                    animation-name: loading-anim;
                    animation-iteration-count:infinite;

                    &::after{
                        content: "";
                        width: 15px;
                        height: 20px;
                        position: absolute;
                        background-color: $sub-backgorund-color-2;
                        transform: rotate(35deg);
                        top: -5px;
                        left: 15px;

                    }
                }

                @keyframes loading-anim {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
            .correct-margine{
                width: 230px;
                height: 275px;
                margin-bottom: 25px;
                margin: 10px;
                overflow: hidden;
                border: 1px solid $line-color-1;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                background-color: white;
                position: relative;
                opacity: 0;
            }
        }
        .service-card {
            min-width: 280px;
            min-height: 300px;
            max-width: 280px;
            max-height: 300px;
            margin-right: 25px;
            margin-block: 20px;
            overflow: hidden;
            border: 1px solid $line-color-1;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            background-color: white;

            img {
                width: 100%;
            }

            .service-title {
                font-size: 1em;
                font-weight: 500;
                text-align: justify;
                padding-inline: 10px;
            }

            .service-desc {
                font-size: 0.9em;
                opacity: 0.8;
                text-align: justify;
            }

            .seller {
                width: 100%;
                height: 40px;
                overflow: hidden;
                display: flex;
                margin-top: 5px;
                align-items: center;
                padding-inline: 10px;

                .seller-propic {
                    width: 30px;
                    height: 30px;
                    border-radius: 25px;
                    border: 1px solid $primary-color;

                }

                .seller-details {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;
                    font-size: 0.9em;
                    justify-content: center;
                    opacity: 0.7;
                }
            }

            .hire-now-btn {
                width: 100%;
                height: 30px;
                border: 0;
                margin-top: auto;
                font-size: 1.2em;
                color: white;
                background-color: $primary-color;
                display: none;
            }
        }
    }
    .spacer-l{
        margin-left: auto;
    }
    .spacer-r{
        margin-right: auto;
    }
}