@import "../../../assets/styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,600;0,700;1,400;1,500;1,600&family=Julee&family=Roboto:wght@100;300;500;700;900&display=swap');


.Home {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;

    .hero-section {
        width: 100vw;
        height: calc(100vh - 80px);
        padding-inline: 0%;
        padding-right: 0;
        display: flex;
        background-image: url("../../../assets/img/background5.png");
        background-size: contain;
        background-repeat: repeat;
        position: relative;
        background-color: $sub-backgorund-color-3;

        @include sm {
            height: fit-content;
        }

        .hero-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 0%;
            padding-right: 10px;
            padding-left: 7%;

            .main-title {
                font-size: 4em;
                font-weight: bold;
                font-family: 'Fira Sans Extra Condensed', sans-serif;
            }

            .para {
                margin-top: 35px;
                font-size: 1.1em;
                line-height: 1.8em;
                text-align: justify;
            }

            .get-start-btn {
                width: 40%;
                height: 60px;
                border: 0;
                margin-top: 50px;
                border-radius: 30px;
                font-size: 1.2em;
                color: white;
                background-color: $primary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.2s;

                &:hover{
                    transform: scale(99%);

                    i{
                        margin-left: 25px;
                    }
                }

                @include sm {
                    width: 90%;
                }

                i {
                    margin-left: 15px;
                    font-size: 22px;
                    transition: margin 1s;
                }
            }

            @include breakpoint(1100px) {
                width: 100%;
                padding-right: 5%;
            }
        }

        .hero-right {
            width: 50%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: relative;

            .hero-img {
                width: 100%;
                height: fit-content;
                display: flex;
                overflow: hidden;
                margin-top: auto;

                .heroimg {
                    margin-top: auto;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transform: scaleX(-1) translateX(7%);
                }
            }

            @include breakpoint(1100px) {
                display: none;
            }
        }
    }

    .platform-status {
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: fit-content;
        display: flex;
        justify-content: end;
        padding-inline: 150px;

        @include breakpoint(1100px) {
            display: none;
        }

        .platform-status-wrapper {
            width: 50%;
            height: fit-content;
            padding-block: 0px;
            display: flex;
            justify-content: space-around;
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        .p-status {
            padding: 10px;
            border-radius: 10px;
            // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            // background-color: white;
            transition: margin 1s;
            &:hover{
                margin-right: 15px;
            }

            .status-num {
                font-size: 40px;
                font-weight: 500;
                display: flex;
            }

            .status-name {
                color: $text-color;
            }
        }
    }

    .wave {

        path {
            fill: $primary-color;
        }

        opacity: 0.5;
    }

    .category-section {
        width: 100vw;
        padding: 20px;
        padding-inline: 7%;
        margin-top: 40px;

        .categories {
            width: 100%;
            height: 250px;
            padding: 15px;
            border-radius: 15px;

            .title {
                font-size: 1.3em;
                font-weight: bold;
            }

            ul {
                margin-top: 20px;
                width: 100%;
                list-style: none;
                display: flex;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    height: 0px;
                }

                .CategoryCard {
                    width: 180px;
                    height: 160px;
                    min-width: 100px;
                    max-width: 200px;
                    margin-right: 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: white;
                    border: 2px solid $line-color-1;
                    overflow: hidden;
                    position: relative;
                    // border-bottom: 5px solid $primary-color;

                    img {
                        height: 50%;
                    }

                    .cat-name {
                        margin-block: 15px;
                    }

                    // &::before{
                    //     content: "";
                    //     background-color: $primary-color;
                    //     width: 30%;
                    //     height: 50px;
                    //     opacity: 0.2;
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    // }
                }
            }

        }

        .services {
            width: 100%;
            height: fit-content;
            margin-top: 10px;
            padding: 20px;
            border-radius: 5px;

            .ServiceCard {
                margin-bottom: 0px;
            }

            .titile {
                font-size: 1.2em;
                margin-bottom: 20px;
                font-weight: bold;
            }

            .services-list {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    height: 0px;
                }
            }
        }
    }

    .app-promotion {
        margin-block: 50px;
        width: 100%;
        min-height: 350px;
        max-height: 400px;
        display: flex;
        position: relative;
        padding-inline: 7%;
        background-color: rgb(117, 188, 114);
        border-radius: 50px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .left {
            width: 50%;
            min-height: 350px;
            max-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @include lg {
                width: 100%;
            }

            .title {
                font-size: 40px;
                color: white;
                font-weight: 500;
            }

            p {
                margin-top: -20px;
                color: white;
                font-size: 15px;

            }

            .buttons {
                display: flex;

                div {
                    height: 50px;
                    width: 150px;
                    margin-right: 10px;
                    overflow: hidden;
                    display: flex;
                    cursor: pointer;
                    margin-top: 10px;
                    border-radius: 10px;

                    @include sm {
                        flex-direction: column;
                    }

                    img {
                        object-fit: contain;
                    }
                }
            }
        }

        .right {
            width: 50%;
            background-image: url("../../../assets/img/app.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-size: 100%;

            @include lg {
                display: none;
                width: 0%;
            }
        }
    }

    .about-section {
        display: flex;
        width: 100%;
        height: fit-content;
        padding-inline: 7%;
        padding-left: 8%;
        background-position: 0% 30%;
        // background-image: url("../../../assets/img/background5.png");
        // background-color: $sub-backgorund-color-3;

        .about-left {
            padding-block: 100px;
            flex: 1;

            span {
                color: $primary-color;
                font-weight: 600;
                font-size: 30px;
            }

            h1 {
                font-size: 50px;
                font-weight: bolder;
            }

            p {
                margin-top: 15px;
                color: $text-color;
                line-height: 25px;
            }

            button {
                margin-top: 30px;
                padding: 10px;
                border: 0;
                border-radius: 5px;
                background-color: $sub-backgorund-color-1;
                padding-inline: 20px;
                color: $primary-color;
                font-weight: bolder;
                font-size: 17px;
            }
        }

        .about-right {
            flex: 1;
            background-image: url("../../../assets/img/people-group-world.png");
            background-position: right;
            background-repeat: no-repeat;
            background-size: 70%;

            @include breakpoint(1100px) {
                display: none;
            }
        }
    }
}