@import "./breakpoints";

$backgorund-color: white;
$primary-color: rgb(25, 189, 120);
$primary-colorr: rgb(20, 168, 0);
$sub-backgorund-color-1: rgba(20, 168, 0, 0.174);
$sub-backgorund-color-2: #F5F5F5;
$sub-backgorund-color-3: rgb(246, 250, 251);
$sub-backgorund-color-4: rgb(209, 241, 227);
$line-color-1: rgb(230, 230, 230);
$border-color: #707070;
$border-color-2: rgb(204, 204, 204);
$border-color-3: rgba(0, 0, 0, 0.1);
$border-color-4: rgba(204, 204, 204, 0.315);
$border-color-5: rgb(170, 172, 171);
$text-color: #62646A;
$text-color-2: #757575;
$text-color-3: rgb(87, 87, 87);
$text-color-4: red;

$Fresh_Green :#1F9E5A;
$Olive_Green: #3E7F2F;
$White: #FFFFFF;
$Pale_Green: #D1EBCA;
$Light_Olive: #9B9B57;
$Beige: #F1F1D7;
$Dark_Olive: #4A4A2C;
$Sea_Green: #0FC0A9;
$Off_White: #F5F5F5;
$Sage_Green: #9FA67E;


$mobile-device: 480px;
$tablet-device: 768px;
$laptop-device: 1024px;